{% include 'hospital/navigation.html' %}
{% block body %}
<h1 class="text-center" style="margin-top: 50px;">About Us</h1>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-6">
            <strong >Who we are and<br>what we do</strong>
            <p class="lead">This is the world's leading portal for<br>easy and quick</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae deleniti, obcaecati alias ipsa aperiam nobis! Qui incidunt modi vero doloremque?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique beatae eos quo voluptate, numquam amet veritatis ad perspiciatis ipsa iusto.      
        </div>
        <div class="row">
            <div class="site heading text-center">
                <h3 class="font-weight-bold">Our Team</h3>
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aperiam cupiditate tenetur! Doloribus, quis autem.</p>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% comment %} {% include "hospital/footer.html" %} {% endcomment %}