{% include 'hospital/base.html' %}
{% include 'hospital/navigation.html' %}
{% block body %}
<h1 style="font-size:35px; margin:46px; left: 22px;position: relative;" >👨Add Doctor
</h1>
<div class="container">
    <form method='post' style="background:white; margin:40px; width:40%; padding-left:32px; padding-right:32px; padding-top:24px; padding-bottom:32px;margin-bottom:16px;border-radius:10px;" class="shadow">{% csrf_token %}
        <div class="mb-2">
            <label style="font-weight:bold;color:grey;"for="" type="text" name="name">Doctor Name</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="mb-2">
            <label style="font-weight:bold;color:grey;"for="" >Mobile</label>
            <input type="text" name="mobile" class="form-control"/>
        </div>
        <div class="mb-2">
            <label style="font-weight:bold;color:grey;"for="" >Special</label>
            <input type="text" name="special" class="form-control"/>
        </div>
        <button type="submit" style="position: relative;bottom: 0px;left: -1px;" class="btn btn-success">Add</button>
    </form>  
</div>
{% endblock body %}
{% include "hospital/footer.html" %}